{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Chef</title>
    <link
      rel="stylesheet"
      href="{% static 'CSS/icons/font/bootstrap-icons.css' %}"
    />
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
    <script src="{% static 'CSS/tailwind' %}"></script>
    <script src="{% static 'JS/jquery.min.js' %}"></script>
    <script src="{% static 'JS/chartjs.min.js' %}"></script>
    <script src="{% static 'JS/react/react.production.min.js' %}"></script>
    <script src="{% static 'JS/react/react.development.js' %}"></script>
    <script src="{% static 'JS/react/react-dom.production.min.js' %}"></script>
    <script src="{% static 'JS/react/react-dom.development.js' %}"></script>
    <script src="{% static 'JS/react/babel.min.js' %}"></script>
    <script src="{% static 'JS/react/react-router-dom.min.js' %}"></script>
    <script src="{% static 'JS/markdown-react.js' %}" ></script>
    <script src="{% static 'JS/app.jsx' %}" type="text/jsx"></script>
    {% if request.user.is_superuser %}
      <script src="{% static 'JS/admin.jsx' %}" type="text/jsx"></script>
    {% endif %}
  </head>

  <body class="overflow-x-hidden" id="root">
    <div class="flex items-center justify-center w-full h-[100vh]">
      <span>loading...</span>
    </div>
  </body>
  <script type="text/jsx">
    const Context = createContext();
    const token = "{{ csrfmiddlewaretoken }}";
    const App = () => {
      const [data, setData] = useState({csrfmiddlewaretoken: token, me:{}});
      const [isReady, setIsReady] = useState(true);

      return (
        <Router>
          <Context.Provider value={ {data:[data, setData] } }>
            <HeaderSection  />
            <Switch>

              <Route exact path="/">
                <Home />
              </Route>
              
              <Route path="/about">
                <About />
              </Route>

              <Route path="/me/settings">
                <SettingsView />
              </Route>

              {% if request.user.is_superuser %}
                <Route path="/admin-panel">
                  <AdminPage />
                </Route>
              {% endif %}
              
              <Route path="/foods/:slug">
                <BuySection />
              </Route>

              <Route path="/accounts/sign-in">
                <Auth page="Sign-in" />
              </Route>

              <Route path="/accounts/sign-up">
                <Auth page="Sign-up" />
              </Route>
              
            </Switch>
            <FooterSection  />
          </Context.Provider>
          <div id="msgContainer" className="transition-all bottom-[20%] fixed flex items-center w-screen justify-center right-0 opacity-0 pointer-events-none z-30">  
            <div id="msg" className="px-6 py-2 rounded-full bg-green-400 text-white">
            </div>
          </div>
        </Router>
      );
    }; 
    ReactDOM.render(<App />, document.body);
  
  </script>

</html>
